:root {
  --color-primary: #bfbdc1;
  --color-primary-medium: #6d6a75;
  --color-primary-dark: #37323e;
  --color-secondary: #d3B841;
  --color-accent: #de9e36;
  --color-white: #ffffff;

  --font-primary: "Proxima Soft", sans-serif;
}

html {
  font-family: var(--font-primary);
}

p, .kilo, .milli, small, .micro, .nano, .pico {
  color: var(--color-primary-dark);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary-dark);
  weight: bold;
}

mark {
  background-color: var(--color-secondary);
}

a {
  text-decoration: none;
  color: var(--color-accent);
}
