.social-icon:hover {
  transform: scale(1.05);
  transition: all 250ms linear;
}

.footer {
  background-color: var(--color-primary-dark);
}

.copyright-text small {
  color: var(--color-white);
}

@media only screen and (min-width: 38em) {

  .social-section {
    text-align: right;
  }

  .copyright-text {
    text-align: left;
    padding: 0;
    margin: 0;
  }

}
