.light-btn {
  background-color: var(--color-white);
  border-color: var(--color-primary-dark);
  border-radius: 100px;
}

.light-btn a {
  color: var(--color-primary-dark);
}

.dark-btn {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  border-radius: 100px;
}

.dark-btn a {
  color: var(--color-white);
}

.btn-ghost:hover a {
  color: var(--color-primary-dark);
  text-decoration: none;
}
