.light-btn {
  background-color: var(--color-white);
  border-color: var(--color-primary-dark);
  border-radius: 100px;
}

.light-btn a {
  color: var(--color-primary-dark);
}

.dark-btn {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  border-radius: 100px;
}

.dark-btn a {
  color: var(--color-white);
}

.btn-ghost:hover a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.dark-btn:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.light-btn:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.light-btn:hover a {
  color: var(--color-white);
}

.form-btn {
  color: var(--color-primary-dark) !important;
}

.form-btn:hover {
  color: var(--color-white) !important;
}
