.header-banner {
  background-image: url(/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  animation: fade-in 3s linear;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.background-color {
  var(--color-secondary);
}

a {
  color: var(--color-white);
}

a:hover {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline;
}

.logo {
  max-width: 500px;
  margin: auto;
}

.social-section {
  width: 25%;
}

.social-icon {
  opacity: .8;
}

.social-icon:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 150ms linear;
}

.arrow {
  width: 40px;
}
