.header-banner {
  background-image: url(/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  animation: fade-in 2000ms linear;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.background-color {
  background-color: var(--color-secondary);
}

a {
  color: var(--color-white);
}

a:hover {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline;
}

.current {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline;
}

.logo {
  max-width: 500px;
}

.social-section {
  width: 15em;
  animation: swipe-in 2s linear;
}

.social-icon {
  opacity: .8;
}

.social-icon:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 150ms linear;
}

.arrow {
  width: 40px;
  animation: swipe-up 2s linear;
}

.navbar {
  overflow: hidden;
  animation: swipe-in 2s linear;
}

.navbar a {
  color: var(--color-white);
}

.subnav {
  overflow: hidden;
}

.subnav-content {
  display: none;
  width: 100%;
  z-index: 1;
}

.subnav:hover .subnav-content {
  display: block;
}

@keyframes swipe-in {

  0% {
    transform: translateX(20em);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes swipe-up {

  0% {
    transform: translateY(20em);
  }

  100% {
    transform: translateY(0);
  }

}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}
