.background-color-athenaxnova {
  background-color: var(--color-athenaxnova);
}

.background-color-bearcreeksanctuary {
  background-color: var(--color-bearcreeksanctuary);
}

.background-color-youthnowcanada {
  background-color: var(--color-youthnowcanada);
}

.background-color-incubator13 {
  background-color: var(--color-incubator13);
}

.color-athenaxnova {
  color: var(--color-athenaxnova);
  opacity: .3;
  font-weight: 700 !important;
}

.color-bearcreeksanctuary {
  color: var(--color-bearcreeksanctuary);
  opacity: .3;
  font-weight: 700 !important;
}

.color-youthnowcanada {
  color: var(--color-youthnowcanada);
  opacity: .3;
  font-weight: 700 !important;
}

.color-incubator13 {
  color: var(--color-incubator13);
  opacity: .3;
  font-weight: 700 !important;
}

.code-text {
  color: var(--color-secondary);
  opacity: .3;
  font-weight: 700 !important;
}

.code-text-opacity {
  color: var(--color-secondary);
  font-weight: 700 !important;
}

.header-text {
  font-weight: 800;
  color: var(--color-primary-dark);
}

.main-text {
  color: var(--color-primary-dark);
}

[role="tablist"] [aria-selected] {
  font-weight: bold;
  color: var(--color-primary-dark);
}

.text-white {
  font-weight: 200 !important;
  color: var(--color-white);
}

.pillar-text {
  font-weight: 800 !important;
}

.project-cards-bg {
  background-image: url(/images/bg-image5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 38em) {

  .code-text, .header-text {
    display: inline;
  }

  .breadcrumb li {
    display: inline;
  }

}
