[type="radio"] + label::before {
  top: 0;
}

input {
  border-color: var(--color-secondary);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

textarea {
  border-color: var(--color-secondary);
  border-radius: 10px;
}

.island-eighth, .island-1-8, input:not([type="checkbox"]), input:not([type="radio"]), textarea {
  padding-left: 0;
}

button, input, optgroup, select, textarea {
  color: var(--color-primary-medium);
}

[type="radio"] + label::before {
  border-color: var(--color-primary-dark);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
