.animation-text {
  color: var(--color-primary-dark);
}

.cow-container,
.bear-container {
  background-color: var(--color-primary);
}

.chicken-container,
.rabbit-container {
  background-color: var(--color-primary-medium);
}

.light-animationtext {
  color: var(--color-primary);
}

.dark-animationtext {
  color: var(--color-primary-medium);
}

.bear {
  transform: scale(3);
}
