.dark-overlay {
  background-color: rgba(55, 49, 62, 0.65);
  display: none;
}

.link-icon {
  display: none;
}

.card-text-style {
  color: var(--color-white);
}

.card-text-style-p {
  color: var(--color-primary);
}

.card-text-section {
  background-color: var(--color-primary-dark);
  border: 3px solid var(--color-primary-dark);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.maincard:hover .dark-overlay,
.maincard:hover .link-icon {
  display: block;
}

@media only screen and (min-width: 38em) {

  .card-text-section {
    height: 350px;
  }

}

@media only screen and (min-width: 60em) {

  .card-text-section {
    height: 260px;
  }

}
