<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Contact Me · Nila Babaei</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ICBM" content="45.41117.-75.69812">
  <meta name="geo.position" content="45.41117.-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Contact Me · Nila Babaei">
  <meta property="og:url" content="https://nilababaei.ca/contact">
  <meta property="og:image" content="https://nilababaei.ca/images/logo.svg">
  <meta property="og:site_name" content="Nila Babaei">
  <meta property="og:description" content="Use the contact form down below for any inquires!">
  <meta property="og:locale" content="en_CA">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800|Sanchez&display=swap" rel="stylesheet">
</head>
<body>

  <div class="pad-b-2">
    {% pattern header/main-header %}
  </div>

  <div class="pad-t-2" role="main" id="main" tabindex="0">
    {{content}}
  </div>

  {% pattern footer/footer %}

  {% pattern sections/seo %}

  <script src="/js/main.js"></script>

</body>
</html>
