<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Nila Babaei · A front-end developer who is extremely passionate about animal rights · Ottawa, Canada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ICBM" content="45.41117.-75.69812">
  <meta name="geo.position" content="45.41117.-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Nila Babaei · A front-end developer who is extremely passionate about animal rights">
  <meta property="og:url" content="https://nilababaei.ca/">
  <meta property="og:image" content="https://nilababaei.ca/images/logo.svg">
  <meta property="og:site_name" content="Nila Babaei">
  <meta property="og:description" content="A front-end developer who is extremely passionate about animal rights.">
  <meta property="og:locale" content="en_CA">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://use.typekit.net/jpd8nmx.css" rel="stylesheet">
</head>
<body>

  {% pattern header/header %}
  <div role="main" id="main" tabindex="0">
    {{content}}
  </div>
  {% pattern footer/footer %}

  {% pattern sections/seo %}

  <script src="/js/main.js"></script>

</body>
</html>
