<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Youth Now Canada Project · Nila Babaei</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ICBM" content="45.41117.-75.69812">
  <meta name="geo.position" content="45.41117.-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Youth Now Canada · Nila Babaei">
  <meta property="og:url" content="https://nilababaei.ca/youthnowcanada">
  <meta property="og:image" content="https://nilababaei.ca/images/logo.svg">
  <meta property="og:site_name" content="Nila Babaei">
  <meta property="og:description" content="The focus of this project is on the redesign of a Wordpress website.">
  <meta property="og:locale" content="en_CA">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://use.typekit.net/jpd8nmx.css" rel="stylesheet">
</head>
<body>

  {% pattern header/header %}
  <div role="main" id="main" tabindex="0">
    {{content}}
  </div>
  {% pattern footer/footer %}

  {% pattern sections/seo %}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "CreativeWork",
      "name": "Youth Now Canada",
      "author": {
        "@type": "Person",
        "name": "SLiDE"
      },
      "image": "https://nilababaei.ca/images/youthnowcanada/phone-1-1by1.jpg",
      "url": "https://nilababaei.ca/youthnowcanada",
      "dateCreated": "2019",
      "dateModified": "2019",
      "description": "The focus of this project is on the redesign of a Wordpress website.",
      "keywords": "Web Design, Web Development, HTML, CSS, Non-for Profit",
      "accountablePerson": "Mark Arnold",
      "locationCreated": {
        "@type": "AdministrativeArea",
        "name": "Ottawa"
      },
      "sourceOrganization": "Youth Now Canada",
      "copyrightHolder": "Mark Arnold",
      "copyrightYear": "2019"
    }
  </script>

  <script src="/js/main.js"></script>

</body>
</html>
