.carousel-items > div {
  display: none;
}

#image-1-control:checked ~ .carousel-inner #image-1,
#image-2-control:checked ~ .carousel-inner #image-2,
#image-3-control:checked ~ .carousel-inner #image-3,
#image-4-control:checked ~ .carousel-inner #image-4,
#image-5-control:checked ~ .carousel-inner #image-5,
#image-6-control:checked ~ .carousel-inner #image-6,
#image-7-control:checked ~ .carousel-inner #image-7 {
  display: block;
}

.carousel-btn {
  border: 4px solid #000;
  border-radius: 50%;
}

#image-1-control:checked ~ .carousel-inner [for="image-1-control"],
#image-2-control:checked ~ .carousel-inner [for="image-2-control"],
#image-3-control:checked ~ .carousel-inner [for="image-3-control"],
#image-4-control:checked ~ .carousel-inner [for="image-4-control"],
#image-5-control:checked ~ .carousel-inner [for="image-5-control"],
#image-6-control:checked ~ .carousel-inner [for="image-6-control"],
#image-7-control:checked ~ .carousel-inner [for="image-7-control"] {
  background-color: var(--color-secondary);
}

#image-1-control:focus ~ .carousel-inner [for="image-1-control"],
#image-2-control:focus ~ .carousel-inner [for="image-2-control"],
#image-3-control:focus ~ .carousel-inner [for="image-3-control"],
#image-4-control:focus ~ .carousel-inner [for="image-4-control"],
#image-5-control:focus ~ .carousel-inner [for="image-5-control"],
#image-6-control:focus ~ .carousel-inner [for="image-6-control"],
#image-7-control:focus ~ .carousel-inner [for="image-7-control"] {
  outline-style: solid;
  outline-width: 3px;
  outline-color: var(--color-secondary);
}

ul.breadcrumb li a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color:  var(--color-secondary);
}

.xmp {
  font-weight: bold;
  opacity: .3;
  color: var(--color-athenaxnova);
}

.text-color {
  color: var(--color-primary-dark);
}

.img-color .zoom-icon {
  display: none;
}

/*.img-color:hover .zoom-icon {
  display: block;
  cursor: pointer;
}

.img-color {
  background-color: var(--color-secondary);
}

.img-color:hover {
  opacity: 0.9;
}

/* Modal CSS

#myImg {
  cursor: pointer;
  transition: .3s;
}

#myImg:hover {
  opacity: .7;
}*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(211, 184, 65, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content {
  animation-name: zoom;
  animation-duration: .6s;
}

@keyframes zoom {

  from {
    transform: scale(0);
  }

  from {
    transform: scale(1);
  }

}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color-primary-dark);
  font-size: 40px;
  font-weight: bold;
  transition: .3s;
}

.close:hover,
.close:focus {
  color: var(--color-primary-medium);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {

  .modal-content {
    width: 100%;
  }

}
