.carousel-items > div {
  display: none;
}

#image-1-control:checked ~ .carousel-inner #image-1,
#image-2-control:checked ~ .carousel-inner #image-2,
#image-3-control:checked ~ .carousel-inner #image-3,
#image-4-control:checked ~ .carousel-inner #image-4,
#image-5-control:checked ~ .carousel-inner #image-5,
#image-6-control:checked ~ .carousel-inner #image-6,
#image-7-control:checked ~ .carousel-inner #image-7 {
  display: block;
}

.carousel-btn {
  border: 4px solid #000;
  border-radius: 50%;
}

#image-1-control:checked ~ .carousel-inner [for="image-1-control"],
#image-2-control:checked ~ .carousel-inner [for="image-2-control"],
#image-3-control:checked ~ .carousel-inner [for="image-3-control"],
#image-4-control:checked ~ .carousel-inner [for="image-4-control"],
#image-5-control:checked ~ .carousel-inner [for="image-5-control"],
#image-6-control:checked ~ .carousel-inner [for="image-6-control"],
#image-7-control:checked ~ .carousel-inner [for="image-7-control"] {
  background-color: var(--color-secondary);
}

ul.breadcrumb li a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color:  var(--color-secondary);
}

.xmp {
  font-weight: bold;
  opacity: .3;
  color: var(--color-athenaxnova);
}

.text-color {
  color: var(--color-primary-dark);
}

.img-color .zoom-icon {
  display: none;
}

.img-color:hover .zoom-icon {
  display: block;
  cursor: pointer;
}

/* The Modal Image CSS */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

.img-color {
  background-color: var(--color-secondary);
}

.img-color:hover {
  opacity: 0.9;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-secondary);
  background-color: rgba(211,184,65,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color-white);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--color-white);
  transform: scale(1.5);
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
