.background-color {
  background-color: var(--color-secondary);
}

h4, h2, p {
  color: var(--color-white);
}

h4 {
  font-weight: bold;
  opacity: .3;
}

.quote {
  font-weight: 400;
}

.index-cta {
  background-image: url(/images/bg-image4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-cta-col {
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 125px;
}

.cta-text {
  color: var(--color-primary-dark);
}

.cta-title {
  color: var(--color-primary-dark);
  font-weight: 900;
}

h2 .cta-text {
  font-weight: 900;
}

.code-text-dark {
  color: var(--color-primary-dark);
  opacity: .3;
  font-weight: 700;
  font-size: 1.2em;
}

@media only screen and (min-width: 38em) {

  .index-cta-col {
    padding-top: 150px;
  }

  .code-text-dark, .header-text-light {
    display: inline;
  }

}
